
@{
    ViewBag.Title = "Recognition Face";
    //  ViewBag.Url_WebApi = TempData["Url_WebApi"].ToString();

    string sUrl_WebAdmin = ViewBag.sUrl_WebAdmin;
    string sUrl_WebApi = ViewBag.sUrl_WebApi;
    string sUrl_Imagenes = ViewBag.sUrl_Imagenes;

    string sConfiabilidad = ViewBag.sConfiabilidad;
}

<link href="/Areas/WebRecognition/sweetalert/sweetalert2.min.css" rel="stylesheet" />
<link href="/Areas/WebRecognition/sweetalert/style.css" rel="stylesheet" />

<div class="container" style="max-width:600px;">

    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                <div id="videoContainer"></div>
                <p id="status"><span class=""></span> Loading Model...</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" style="width:100%">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label>Tipo</label>
                    <select id="cmbTIPO" class="form-control" onchange="mTipoSelect(this)"></select>
                </div>
                <div class="form-group ">
                    <label>RAZA</label>
                    <select id="cmbRAZA" class="form-control" onchange="mRazaSelect(this)"></select>
                </div>
                <div class="form-group " style="display:none">
                    <label>Departamento</label>
                    <select id="cmbDEPARTAMENTO" class="form-control" onchange="mDepartamentoSelect(this)"></select>
                </div>
                <div class="form-group " style="display:none">
                    <label>Provincia</label>
                    <select id="cmbPROVINCIA" class="form-control"></select>
                </div>
                <div class="form-group " style="display:none">
                    <label>distrito</label>
                    <select id="cmbDISTRITO" class="form-control"></select>
                </div>
            </div>
            <div class="col-sm-12">
                <div style="text-align:center;margin:0 auto; width:100%;">
                    <input type="file" id="filesimgBuscar" name="files[]" accept="image/png, image/jpeg" /><br />
                    <img src="~/Areas/WebRecognition/img/huella3.png" id="imgTomada" style="width:250px;" crossorigin="anonymous" />
                </div>
            </div>

            <div class="col-sm-12">
                <div style="text-align:center;margin:0 auto; width:99%;">
                    <br>
                    <button id="btnProcessRecognition" class="btn-lg btn-info"><span class="glyphicon-cloud"></span>&nbsp;Buscar Mascota</button>
                    <br><br>
                    <div class="form-group " style="width:100%;">
                        <div class="table-responsive" style="width:100%;">
                            <table id="tbResult" class="table table-bordered table-hover" style="width:100%;">
                                <thead>
                                    <tr class="bg-warning">
                                        @*<th>...</th>*@
                                        <th>DNI</th>
                                        <th>MASCOTA</th>
                                        <th>Confiabilidad</th>
                                    </tr>
                                </thead>
                                <tbody id="tbResult_Det"></tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <br />
                <div id="ResultRecognition"></div>
                <div id="ListImgRecognition"></div>

                <br />
            </div>
    </div>
</div>

<div class="modal fade" id="modal-default" style="color:#000">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class=" modal-title" id="PERFIL">Informacion Detallada de la Mascota</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-3" style="text-align:center; margin: 0 auto; ">
                        <div class="form-group ">
                            <img id="ImgMascotaDetalle" class='imgRedonda' src="#" />
                        </div>
                    </div>

                    <div class="col-sm-9">

                        <div class="row">
                            <div class="col-sm-12">
                                <h4 style="font-size:25px;font-weight: bold;">Datos Generales</h4>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group ">
                                        <p>Nombre y Apellido de la Mascota:</p>
                                        <p id="lblMASCOTA" style="font-size:20px;"></p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group ">
                                        <p>Sexo:</p>
                                        <p id="lblSEXO" style="font-size:20px;"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row ">

                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <p>Calificacion:</p>
                                        <p id="lblCALIFICACION" style="font-size:20px;"></p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <p>Especie o Tipo:</p>
                                        <p id="lblESPECIE" style="font-size:20px;"></p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <p>Raza:</p>
                                        <p id="lblRAZA" style="font-size:20px;"></p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>


                <hr>

                <div class="row">


                    <div class="col-sm-12">
                        <h4 style="font-size:25px;font-weight: bold;">Padres Humanos</h4>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group ">
                            <p>Nombre del Padre:</p>
                            <p id="lblNOMBREPADRE" style="font-size:20px;"></p>
                        </div>
                        <div class="form-group ">
                            <p>Telefono:</p>
                            <a id="telefono_Padre" href="#">-</a>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group ">
                            <p>Nombre de la Madre:</p>
                            <p id="lblNOMBREMADRE" style="font-size:20px;"></p>
                        </div>
                        <div class="form-group ">
                            <p>Telefono:</p>
                            <a id="telefono_Madre" href="#">-</a>
                        </div>
                    </div>

                </div>


                <hr>

                <div class="row">

                    <div class="col-sm-12">
                        <h4 style="font-size:25px;font-weight: bold;">Direccion</h4>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group ">
                            <p>Departamento:</p>
                            <p id="lblDEPARTAMENTO" style="font-size:20px;"></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group ">
                            <p>Provincia:</p>
                            <p id="lblPROVINCIA" style="font-size:20px;"></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group ">
                            <p>Distrito:</p>
                            <p id="lblDISTRITO" style="font-size:20px;"></p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group ">
                            <p>Direccion:</p>
                            <p id="lbLDIRECCION" style="font-size:20px;"></p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group ">
                            <p>Referencia:</p>
                            <p id="lblREFERENCIA" style="font-size:20px;"></p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group ">
                            <p>Datos Adiconales:</p>
                            <p id="lblBIOGRAFIA" style="font-size:20px;"></p>
                        </div>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
    <div>
        <table style="">


            <tr style="text-align:center;width:95%">
                <td>
                    @*<input type="file" id="filesimgBuscar" name="files[]" accept="image/png, image/jpeg" /><br />
                        <img src="/img_proc/1_.jpg" id="imgTomada" width="300" height="300" crossorigin="anonymous" />*@
                </td>
            </tr>

            <tr style="">
                <td style=""></td>


                @*<td>
                        <button id="btnProcessRecognition">Process Recognition</button>
                    </td>*@
            </tr>

            <tr style="display:none">
                <td colspan="2">
                    <div id="container"></div>
                    <div id="imglst"></div>
                </td>
            </tr>

            <tr style="">

                <td> </td>
            </tr>

            <tr style="">
                <td colspan="2">
                    @*<div id="ResultRecognition"></div>
                        <div id="ListImgRecognition"></div>*@
                </td>
            </tr>

            <!-- crossorigin="anonymous" --->
        </table>
    </div>

    @*<button id="buttonPredict">Iniciar prediccion</button><br>*@
    <!--  <button id="clearAll">Limpiar todo</button><br> --->

<img src="/Areas/WebRecognition/img_proc/2_.jpg" width="100" height="100" id="img1" style="display:none" crossorigin="anonymous" />

<div class="modalx"><strong style="margin-top:50%;margin-left:50%;  position:absolute">Cargando...</strong></div>




<script src="/Areas/WebRecognition/sweetalert/sweetalert2.min.js"></script>


<script src="/Areas/WebRecognition/Scripts/Alert.js?v=32"></script>


<script>

    var xUrl_WebAdmin = "@sUrl_WebAdmin";
    var xUrl_WebApi = "@sUrl_WebApi";
    var xUrl_Imagenes = "@sUrl_Imagenes";
    var xConfiabilidad = "@sConfiabilidad";

</script>


<script src="/Areas/WebRecognition/Scripts/2A0UG1u5t9zxhjX.js?v=346"></script>
<script src="/Areas/WebRecognition/Scripts/2A1UG1u5t9zxhjX.js?v=346"></script>
<script src="/Areas/WebRecognition/Scripts/2ARUG1u5t9zxhjX.js?v=346"></script>

