
@{
    ViewBag.Title = "Recognition Face";
    //  ViewBag.Url_WebApi = TempData["Url_WebApi"].ToString();

    string sUrl_WebAdmin = ViewBag.sUrl_WebAdmin;
    string sUrl_WebApi = ViewBag.sUrl_WebApi;
    string sUrl_Imagenes = ViewBag.sUrl_Imagenes;

    string sConfiabilidad = ViewBag.sConfiabilidad;
}

<style>
.modal { display: none; position: fixed; z-index: 1000; top: 0; left: 0; height: 100%; width: 100%; background: rgba( 255, 255, 255, .8 ) url('/Areas/WebRecognition/img/loader-dog.gif') 50% 50% no-repeat; }

    /* When the body has the loading class, we turn     url('http://i.stack.imgur.com/FhHRx.gif')
    the scrollbar off with overflow:hidden */
    body.loading .modal {
        overflow: hidden;
    }

    /* Anytime the body has the loading class, our
    modal element will be visible */
    body.loading .modal {
        display: block;
    }
</style>

<link href="/Areas/WebRecognition/sweetalert/sweetalert2.min.css" rel="stylesheet" />

<div class="container" style="width:100%;">

    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                <div id="videoContainer"></div>
                <p id="status"><span class=""></span> Loading Model...</p>
            </div>

            <div class="pull-left">
                <h2>Registro unico de mascotas</h2>
            </div>
        </div>
    </div>

    <div class="row" style="width:100%">


        <div class="col-sm-6">
            <div class="col-sm-4">
                <div class="form-group ">
                    <label>Tipo</label>
                    <select id="cmbTIPO" class="form-control" onchange="mTipoSelect(this)"></select>
                </div>
                <div class="form-group ">
                    <label>RAZA</label>
                    <select id="cmbRAZA" class="form-control" onchange="mRazaSelect(this)"></select>
                </div>
                <div class="form-group " style="display:none">
                    <label>Departamento</label>
                    <select id="cmbDEPARTAMENTO" class="form-control" onchange="mDepartamentoSelect(this)"></select>
                </div>
                <div class="form-group " style="display:none">
                    <label>Provincia</label>
                    <select id="cmbPROVINCIA" class="form-control"></select>
                </div>
                <div class="form-group " style="display:none">
                    <label>distrito</label>
                    <select id="cmbDISTRITO" class="form-control"></select>
                </div>
            </div>

            <div class="col-sm-8">
                <div style="text-align:center;margin:0 auto; width:100%;">
                    <input type="file" id="filesimgBuscar" name="files[]" accept="image/png, image/jpeg" /><br />
                    <img src="~/Areas/WebRecognition/img/huella2.png" id="imgTomada" style="width:250px; height:250px;" crossorigin="anonymous" />
                </div>
            </div>
        </div>



        <div class="col-sm-4">
            <div style="text-align:center;margin:0 auto; width:99%;">
                <button id="btnProcessRecognition" class="btn-lg btn-info"><span class="glyphicon-cloud"></span> Process Recognition</button>

                <div class="form-group " style="width:100%;">
                    <div class="table-responsive" style="width:100%;">
                        <table id="tbResult" class="table table-bordered table-hover" style="width:100%;">
                            <thead>
                                <tr class="bg-warning">
                                    <th>...</th>
                                    <th>ID</th>
                                    <th>MASCOTA</th>
                                    <th>COnfiabilidad</th>
                                </tr>
                            </thead>
                            <tbody id="tbResult_Det"></tbody>
                        </table>
                    </div>
                </div>

            </div>
            <br />
            <div id="ResultRecognition"></div>
            <div id="ListImgRecognition"></div>

            <br />
        </div>
    </div>
</div>


<br><p>

    <div>
        <table style="">


            <tr style="text-align:center;width:95%">
                <td>
                    @*<input type="file" id="filesimgBuscar" name="files[]" accept="image/png, image/jpeg" /><br />
                        <img src="/img_proc/1_.jpg" id="imgTomada" width="300" height="300" crossorigin="anonymous" />*@
                </td>
            </tr>

            <tr style="">
                <td style=""></td>


                @*<td>
                        <button id="btnProcessRecognition">Process Recognition</button>
                    </td>*@
            </tr>

            <tr style="display:none">
                <td colspan="2">
                    <div id="container"></div>
                    <div id="imglst"></div>
                </td>
            </tr>

            <tr style="">

                <td> </td>
            </tr>

            <tr style="">
                <td colspan="2">
                    @*<div id="ResultRecognition"></div>
                        <div id="ListImgRecognition"></div>*@
                </td>
            </tr>

            <!-- crossorigin="anonymous" --->
        </table>
    </div>

</p>
<br />

<p>
    @*<button id="buttonPredict">Iniciar prediccion</button><br>*@
    <!--  <button id="clearAll">Limpiar todo</button><br> --->
</p>


<img src="/Areas/WebRecognition/img_proc/2_.jpg" width="100" height="100" id="img1" style="display:none" />

<div class="modal"><strong style="margin-top:50%;margin-left:50%;  position:absolute">Cargando...</strong></div>




<script src="/Areas/WebRecognition/sweetalert/sweetalert2.min.js"></script>


<script src="/Areas/WebRecognition/Scripts/Alert.js?v=32"></script>


<script>

    var xUrl_WebAdmin = "";
    var xUrl_WebApi = "";
    var xUrl_Imagenes = "";
    var xConfiabilidad = "";

    xUrl_WebAdmin = "@sUrl_WebAdmin";
    xUrl_WebApi = "@sUrl_WebApi";
    xUrl_Imagenes = "@sUrl_Imagenes";
    xConfiabilidad = "@sConfiabilidad";

</script>


<script src="/Areas/WebRecognition/Scripts/2A0UG1u5t9zxhjX.js?v=335"></script>
<script src="/Areas/WebRecognition/Scripts/2A1UG1u5t9zxhjX.js?v=335"></script>
<script src="/Areas/WebRecognition/Scripts/2ARUG1u5t9zxhjX.js?v=335"></script>

