<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear />
    <add name="CnnRumpSql" connectionString="Data Source=198.71.225.113; Initial Catalog=BDPRUEBACHARPE; User Id=franki951; Password=S0p0rt32090" providerName="System.Data.SqlClient"/>
    <add name="CnnRump" connectionString="Server=68.66.200.221;Database=wwwworld_worldpetsperu;Uid=wwwworld_frank; Pwd=S0p0rt3xxx;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>

    <!--<add key="urlServiceMIFACT" value="http://mifact.net.pe/gmifactapi/invoiceService.svc" />
    <add key="tokenMIFACT" value="qeoFHqTHvkVVxTLwdaZx0w==" />
    <add key="rucEmpresa" value="10165336688" />-->

    <add key="urlServiceMIFACT" value = "http://demo.mifact.net.pe/api/invoiceService.svc"/>
    <add key="tokenMIFACT" value = "gN8zNRBV+/FVxTLwdaZx0w=="/>
    <add key="rucEmpresa" value = "20100100100"/>

    <add key="ubigeoEmpresa" value="010701" />
    <add key="nombreComercial" value="Hotel Leyva" />
  </appSettings>
  <system.web>
    <trust level="Full" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
    </httpHandlers>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>